<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tqsm.life.mapper.DeviceManagementMapper">

    <select id="selectPageNew" resultType="com.tqsm.life.pojo.vo.DeviceManagementVO">
        select m.device_code,
               m.device_name,
               u.id                                                                     as device_user_id,
               um.name,
               um.sex,
               um.id_card,
               um.tel,
               IF(SUBSTRING(um.id_card, -1) = 'X', '女',
                  IF(CAST(SUBSTRING(um.id_card, 18, 1) AS SIGNED) % 2 = 1, '男', '女')) as gender,
               h.person
        from device_management m
                 left join device_user u on m.id = u.device_id and m.delete_flag = u.delete_flag
                 left join user_management um on u.user_id = um.id and u.delete_flag = um.delete_flag
                 left join device_heartbeat h on m.id = h.device_id and m.delete_flag = h.delete_flag
        where m.delete_flag = false
          and u.is_his = false
        <if test="dto.deviceName != null and dto.deviceName != ''">
            and m.device_name like '%${dto.deviceName}%'
        </if>
        <if test="dto.deviceCode != null and dto.deviceCode != ''">
            and m.device_code like '%${dto.deviceCode}%'
        </if>
        <if test="dto.state != null">
            and h.person = #{dto.state}
        </if>
    </select>
</mapper>
