<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tqsm.life.mapper.UserManagementMapper">

    <select id="listUserManagementPage" resultType="com.tqsm.life.pojo.vo.UserManagementVO">
        SELECT
        id,
        NAME,
        id_card,
        (YEAR (CURDATE()) - SUBSTRING( id_card, 7, 4 )) AS age,
        sex,
        tel,
        inpatient_no,
        delete_flag
        FROM
        `user_management`
        WHERE
        1 = 1
        AND delete_flag = '0'
        <if test="pageDTO.name != null and pageDTO.name != ''">
            AND name like '%${pageDTO.name}%'
        </if>
        <if test="pageDTO.idCard != null and pageDTO.idCard != ''">
            AND id_card like '%${pageDTO.idCard}%'
        </if>
        <if test="pageDTO.sex != null">
            AND sex = #{pageDTO.sex}
        </if>
    </select>
</mapper>
